body {
  color: red;
  background-color: black;
  text-align: center;
}

table {
  margin: auto;
  display: inline-block;
  border: 2px solid black;
}

td {
  height: 70px;
  width: 70px;
  border: 4px solid white;
}

.disc{
  z-index: -1;
  top: -55px;
  left: 14px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: .3s;
}

.disc.red{
  background: #FFCC00;
}

.disc.black{
  background: #00B2B2;
}

img {
  display: inline-block;
  margin-bottom: 55px;
}

#flames {
  width: 100%;
  left: 0;
  z-index: -1;
  position: absolute;
}

.container {
  width: 100%;
  margin: auto;
  position: absolute;
  z-index: 0;
}

#win {
  bottom: 30px;
}




