body {
  text-align: center;
}

table {
  margin: auto;
  border: 2px solid black;
}

td {
  height: 70px;
  width: 70px;
  border: 4px solid #FDD017;
}

.disc{
  z-index: -1;
  top: -55px;
  left: 14px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: .3s;
}

.disc.red{
  background:#d96666;
}

.disc.black{
  background: black;
}
