<h1>MORTAL KONNEKT 4</h1>

<div class="container">
  <img src="/imgs/scorpion.png"/>
  <table id="board"></table>

  <img src="/imgs/subzero.png"/>
</div>

<img id='flames' src="/imgs/PurpleFire.png"/>

<img id='win' src="/imgs/fatality.png"/>

