<h1>CONNECT 4! 4! 4! 4!</h1>
<div>
<table>
  <col class="col-0"/>
  <col class="col-1"/>
  <col class="col-2"/>
  <col class="col-3"/>
  <col class="col-4"/>
  <col class="col-5"/>
  <col class="col-6"/>
  <tr class="0">
  <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr class="1">
  <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr class="2">
  <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr class="3">
  <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr class="4">
  <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
  <tr class="5">
  <td></td><td></td><td></td><td></td><td></td><td></td><td></td>
  </tr>
</table>
</div>
